// Place all the styles related to the Streams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist {
  tbody tr:first-child {
    color: red;
    background-color: #66DBE3;
    td:first-child:before {
      font-family: "Glyphicons Halflings";
      content: "\e002";
      float: left;
      margin-right: 6px;
    }
  }
}
